/* * ======================================== */
/* * GLOBAL */
/* * ======================================== */

:root {
    scroll-behavior: smooth;
    --space: 0.25rem;
    --base-font-size: 10px;
    --base-font-family: "Krona One", sans-serif;
    --main-bg: #000D1C;


    /* ! TYPOGRAPHY */
    --heading-color: #fff;
    --para-color: #fff;
}

body {
    background: var(--main-bg, #000D1C);
    color: var(--para-color, #fff);
}

html {
    font-size: var(--base-font-size, 10px);
    font-family: var(--base-font-family, "Krona One", sans-serif);
}

* {
    font-family: var(--base-font-family, "Krona One", sans-serif);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

/* * ========================================== */
/* * TYPOGRAPHY */
/* * ========================================== */

/* ------------------------ */
/* HEADING */

h1 {
    color: var(--heading-color, #FFF);
    font: 400 normal 7rem/normal var(--base-font-family, "Krona One", sans-serif);
}

h2 {
    color: var(--heading-color, #FFF);
    font: 400 normal 4.8rem/normal var(--base-font-family, "Krona One", sans-serif);
    letter-spacing: 0.384rem;
}

/* ------------------------- */
/* PARAGRAPH */

.body-1 {
    color: var(--para-color, #FFF);
    text-align: justify;
    font: 400 normal 2.4rem/150% var(--base-font-family, "Krona One", sans-serif);
}

p.body-2 {
    color: var(--para-color, #FFF);
    font: 400 normal 2rem/150% var(--base-font-family, "Krona One", sans-serif);
}



/* * ===================================== */
/* * BUTTON */
/* * ===================================== */




/* * ===================================== */
/* * CUSTOM TOOLTIP (BS5) */
/* * ===================================== */


.custom-tooltip {
    font-size: 1.6rem;
    font-weight: 700;
    --bs-tooltip-bg: var(--primary, #54BD95);
    --bs-tooltip-color: var(--color-white, #fff);
}

.custom-tooltip .tooltip-inner {
    border-radius: 1rem;
}

.custom-tooltip .tooltip-arrow {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    translate: 0 20%;
}

.custom-tooltip .tooltip-arrow::before {
    border-width: 1rem !important;
    margin-bottom: 2.1rem;
}




/* * ===================================== */
/* * LAYOUT */
/* * ===================================== */

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(45rem, 100%), 54rem));
    place-content: center;
    place-items: center;
    gap: 4rem;
}


/* * ====================== */
/* * COOKIES (OFFCANVAS) */
/* * ====================== */


/* * ======================================== */
/* * LOADER */
/* * ======================================== */


/* * ========================================== */
/* * CUSTOM SCROLLBAR */
/* * ========================================== */

::-webkit-scrollbar {
    width: var(--scrollbar-width);
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: 4rem;
}



/* * ===================================== */
/* * SPACING */
/* * ===================================== */

.mt-01 {
    margin-top: calc(var(--space) * 1);
}

.mt-02 {
    margin-top: calc(var(--space) * 2);
}

.mt-03 {
    margin-top: calc(var(--space) * 3);
}

.mt-04 {
    margin-top: calc(var(--space) * 4);
}

.mt-05 {
    margin-top: calc(var(--space) * 5);
}

.mt-06 {
    margin-top: calc(var(--space) * 6);
}

.mt-07 {
    margin-top: calc(var(--space) * 7);
}

.mt-08 {
    margin-top: calc(var(--space) * 8);
}

.mt-09 {
    margin-top: calc(var(--space) * 9);
}

.mt-10 {
    margin-top: calc(var(--space) * 10);
}

.mt-11 {
    margin-top: calc(var(--space) * 11);
}

.mt-12 {
    margin-top: calc(var(--space) * 12);
}

.mt-13 {
    margin-top: calc(var(--space) * 13);
}

.mt-14 {
    margin-top: calc(var(--space) * 14);
}

.mt-15 {
    margin-top: calc(var(--space) * 15);
}

.mt-16 {
    margin-top: calc(var(--space) * 16);
}

.mt-17 {
    margin-top: calc(var(--space) * 17);
}

.mt-18 {
    margin-top: calc(var(--space) * 18);
}

.mt-19 {
    margin-top: calc(var(--space) * 19);
}

.mt-20 {
    margin-top: calc(var(--space) * 20);
}

.mt-21 {
    margin-top: calc(var(--space) * 21);
}

.mt-22 {
    margin-top: calc(var(--space) * 22);
}

.mt-23 {
    margin-top: calc(var(--space) * 23);
}

.mt-24 {
    margin-top: calc(var(--space) * 24);
}

.mt-25 {
    margin-top: calc(var(--space) * 25);
}

.mt-26 {
    margin-top: calc(var(--space) * 26);
}

.mt-27 {
    margin-top: calc(var(--space) * 27);
}

.mt-28 {
    margin-top: calc(var(--space) * 28);
}

.mt-29 {
    margin-top: calc(var(--space) * 29);
}

.mt-30 {
    margin-top: calc(var(--space) * 30);
}

.mt-31 {
    margin-top: calc(var(--space) * 31);
}

.mt-32 {
    margin-top: calc(var(--space) * 32);
}

.mt-33 {
    margin-top: calc(var(--space) * 33);
}

.mt-34 {
    margin-top: calc(var(--space) * 34);
}

.mt-35 {
    margin-top: calc(var(--space) * 35);
}

.mt-36 {
    margin-top: calc(var(--space) * 36);
}

.mt-37 {
    margin-top: calc(var(--space) * 37);
}

.mt-38 {
    margin-top: calc(var(--space) * 38);
}

.mt-39 {
    margin-top: calc(var(--space) * 39);
}

.mt-40 {
    margin-top: calc(var(--space) * 40);
}

.mt-41 {
    margin-top: calc(var(--space) * 41);
}

.mt-42 {
    margin-top: calc(var(--space) * 42);
}

.mt-43 {
    margin-top: calc(var(--space) * 43);
}

.mt-44 {
    margin-top: calc(var(--space) * 44);
}

.mt-45 {
    margin-top: calc(var(--space) * 45);
}

.mt-46 {
    margin-top: calc(var(--space) * 46);
}

.mt-47 {
    margin-top: calc(var(--space) * 47);
}

.mt-48 {
    margin-top: calc(var(--space) * 48);
}

.mt-49 {
    margin-top: calc(var(--space) * 49);
}

.mt-50 {
    margin-top: calc(var(--space) * 50);
}

.mt-51 {
    margin-top: calc(var(--space) * 51);
}

.mt-52 {
    margin-top: calc(var(--space) * 52);
}

.mt-53 {
    margin-top: calc(var(--space) * 53);
}

.mt-54 {
    margin-top: calc(var(--space) * 54);
}

.mt-55 {
    margin-top: calc(var(--space) * 55);
}

.mt-56 {
    margin-top: calc(var(--space) * 56);
}

.mt-57 {
    margin-top: calc(var(--space) * 57);
}

.mt-58 {
    margin-top: calc(var(--space) * 58);
}

.mt-59 {
    margin-top: calc(var(--space) * 59);
}

.mt-60 {
    margin-top: calc(var(--space) * 60);
}