/* * ================================== */
/* * HEADER */
/* * ================================== */

header {
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50%;
    width: var(--nav-width, min(62rem, 100%));
    height: 8rem;
    z-index: 99;
}

@property --degree {
    syntax: '<angle>';
    inherits: true;
    initial-value: 90deg;
}


nav {
    width: var(--nav-width, min(62rem, 100%));
    height: 8rem;
    border-radius: 0 0 5rem 5rem;
    box-shadow: 0 10px 20px 0 rgba(43, 42, 124, 0.2);
    position: relative;
    overflow: hidden;
    background:
        linear-gradient(var(--nag-bg-1, #bbb), var(--nav-bg-2, #C4C3CD)),
        conic-gradient(from var(--degree, 0deg) at center,
            transparent,
            transparent,
            transparent,
            var(--nav-ray-bg, #0f7));
    border-bottom: var(--nav-ray-width, 3px) solid #0000;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    animation: auto-rotate linear 8s infinite;
    animation-fill-mode: both;
}

@keyframes auto-rotate {
    0% {
        background:
            linear-gradient(var(--nav-bg-1, #bbb), var(--nav-bg-2, #C4C3CD)),
            conic-gradient(from var(--degree, 90deg) at 50% -35rem,
                transparent,
                transparent,
                transparent,
                transparent,
                transparent,
                var(--nav-ray-bg, #0f7));
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }

    50% {
        --degree: 270deg;
    }

    100% {
        --degree: 90deg;
        background:
            linear-gradient(var(--nav-bg-1, #bbb), var(--nav-bg-2, #C4C3CD)), conic-gradient(from var(--degree, 0deg) at 50% -35rem,
                var(--nav-ray-bg, #0f7),
                transparent,
                transparent,
                transparent,
                transparent,
                transparent);
        background-origin: border-box;
        background-clip: padding-box, border-box;
    }
}

nav .items {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    display: flex;
    justify-content: center;
    gap: 8rem;
    width: min(50rem, 100%);
}

/* SVG COLOR */

nav .items a svg {
    fill: var(--nav-icon-bg, #0F103F);
}

nav .items a.active svg {
    fill: var(--nav-icon-active-bg, #fff);
}

nav:has(.items a.active:first-child) .glider {
    left: 8%;
}

nav:has(.items a.active:nth-child(2)) .glider {
    left: 29%;
}

nav:has(.items a.active:nth-child(3)) .glider {
    left: 50%;
}

nav:has(.items a.active:nth-child(4)) .glider {
    left: 70%;
}

nav:has(.items a.active:nth-child(5)) .glider {
    left: 92%;
}

/* GLIDER */
nav .glider {
    position: absolute;
    top: 35%;
    left: 8%;
    translate: -50%;
    z-index: -1;

    background: var(--nav-glider-bg, hsl(228, 8%, 35%));
    width: 15rem;
    height: 15rem;
    border-radius: 3rem;
    transform: rotate(45deg);
}

/* RESPONSIVE */

@media screen and (max-width: 576px) {
    nav .items {
        width: min(40rem, 100%);
        gap: 6rem;
    }

    nav .glider {
        width: 13rem;
        height: 13rem;
        border-radius: 2.5rem;
    }
}

@media screen and (max-width: 420px) {
    nav .items {
        width: min(32rem, 100%);
        gap: 4.7rem;
    }


    nav:has(.items a.active:first-child) .glider {
        left: 5%;
    }

    nav:has(.items a.active:nth-child(2)) .glider {
        left: 28%;
    }

    nav:has(.items a.active:nth-child(3)) .glider {
        left: 50%;
    }

    nav:has(.items a.active:nth-child(4)) .glider {
        left: 72%;
    }

    nav:has(.items a.active:nth-child(5)) .glider {
        left: 95%;
    }
}



/* * ======================================== */
/* * HERO */
/* * ======================================== */

#hero {
    padding: 15rem 0;
    background: radial-gradient(circle 50rem at 200px -230px,
            rgba(0, 255, 47, 0.60) 0%,
            rgba(115, 115, 115, 0.00) 100%),
        radial-gradient(circle 50rem at 70% -250px,
            rgba(0, 255, 47, 0.60) 0%,
            rgba(115, 115, 115, 0.00) 100%),
        url("../images/hero-background.png") no-repeat top left / cover;
    position: relative;
    overflow: hidden;
}


/* -------------------------------------------------- */
/* CONTENT */

#hero .text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: flex-start;
}

#hero .text h1 {
    min-height: clamp(12rem, 7rem + 21.82vw, 24rem);
}

#hero .text p {
    background: linear-gradient(90deg, #00FFA6 0%, #00C4FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero .text .cta {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem 3rem;
}

/* -------------------------------------------------- */
/* IMAGE */

#hero .image {
    width: 55rem;
    height: 55rem;
    background: url("https://img.freepik.com/free-photo/close-up-portrait-pleased-unshaved-man-eyeglasses-looking-camera-with-sincere-smile-standing-with-arms-folded-isolated-gray_171337-631.jpg?semt=ais_incoming&w=740&q=80") no-repeat 30% 50% / cover;
    animation: path1 20s cubic-bezier(1, .9, .9, 1) infinite alternate;
}


@keyframes path1 {
    0% {
        clip-path: path("m382.27746,34.37325c32.7,27 51.3,69.9 74.4,110.4c23.1,40.2 50.7,78 52.2,116.7c1.5,38.7 -23.1,78 -45.9,118.8c-22.8,40.8 -44.1,82.8 -78.3,105c-34.2,22.2 -81.3,24.6 -125.7,20.1c-44.4,-4.8 -86.1,-16.2 -119.1,-39c-33,-23.1 -57.3,-57.3 -81.3,-93.6c-24.3,-36 -48.3,-74.1 -55.8,-116.7c-7.8,-42.3 0.9,-89.4 25.2,-125.7c24,-36.3 63.3,-61.8 103.8,-84.3c40.8,-22.2 82.5,-41.1 126.9,-45.3c44.1,-3.9 90.9,6.9 123.6,33.6z");
    }

    10% {
        clip-path: path("m398.25633,50.403c33.9,28.5 59.1,63.3 76.8,100.2c17.4,37.2 27.3,76.5 32.4,118.8c5.1,42.3 5.7,87.3 -11.4,125.7c-16.8,38.1 -51,69.3 -90,86.1c-39.3,16.8 -83.4,19.2 -125.4,15.6c-42,-3.9 -81.6,-13.8 -123.6,-29.1c-42,-15 -86.1,-35.4 -115.8,-69.9c-29.4,-34.5 -44.1,-82.8 -40.8,-129.6c3.3,-46.5 24.6,-91.2 52.8,-127.8c28.2,-36.9 63,-65.7 101.7,-91.5c38.7,-25.8 81,-48.6 123.6,-48.9c42.9,-0.3 85.5,21.9 119.7,50.4z");
    }

    20% {
        clip-path: path("m375.19605,36.13452c34.2,19.2 64.8,45.3 84.6,78.3c19.5,33 28.2,72.6 27.3,111.9c-0.6,39 -10.8,78 -28.5,114c-17.7,36 -43.5,69.3 -77.1,98.7c-33.6,29.4 -75,55.2 -117.9,57.6c-42.9,2.1 -87,-19.5 -120.6,-48.9c-33.9,-29.4 -57.3,-66.9 -82.8,-105c-25.8,-38.1 -53.7,-77.1 -59.1,-119.4c-5.7,-42 11.4,-87.3 38.1,-123.6c27,-36.3 63.3,-63.6 102.6,-80.1c39,-16.5 81,-22.2 120.9,-18.6c40.2,3.3 78.3,15.6 112.5,35.1z");
    }

    30% {
        clip-path: path("m370.75317,28.19892c36.9,24.9 62.1,66.9 79.5,109.5c17.4,42.3 27.3,85.2 32.7,131.4c5.7,45.9 7.2,95.4 -12.9,132.9c-20.4,37.8 -62.1,64.2 -104.7,79.2c-42.6,15 -86.4,18.9 -132.9,24.3c-46.8,5.1 -96.3,12 -136.8,-4.5c-40.5,-16.5 -71.4,-55.8 -85.5,-99c-13.8,-42.9 -10.5,-89.7 -7.5,-134.4c3.3,-44.7 6.3,-87.6 24.6,-123.6c18,-35.7 51,-64.5 88.2,-89.4c37.2,-24.9 78.6,-45.6 123.9,-52.2c45.3,-6.9 94.2,0.9 131.4,25.8z");
    }

    40% {
        clip-path: path("m404.10285,24.51654c35.7,22.5 59.4,63.9 78.6,105.3c19.2,41.1 33.9,82.5 33.9,123.6c-0.3,40.8 -15.6,81.9 -39.6,114.9c-24,33 -56.7,58.2 -92.4,83.4c-35.4,25.2 -73.5,50.4 -117.3,60.6c-44.1,9.9 -93.9,4.8 -131.1,-19.5c-37.2,-24 -61.8,-67.2 -86.4,-110.4c-24.6,-43.2 -49.2,-86.1 -49.8,-129.3c-0.3,-43.2 23.1,-86.7 50.1,-126c27,-39 57.3,-73.5 95.1,-94.8c37.5,-21.6 82.8,-29.7 129,-31.8c46.5,-2.1 94.2,1.5 129.9,24z");
    }

    50% {
        clip-path: path("m373.67394,31.06887c38.1,19.8 70.5,51.6 89.4,89.4c18.9,37.8 24.3,81.9 21.3,124.2c-3,42.6 -13.8,83.1 -31.8,122.7c-18,39.3 -43.2,77.1 -78.6,99c-35.1,21.6 -80.7,27.3 -127.8,30.3c-47.1,3 -96.3,3.6 -132,-17.7c-35.7,-21.6 -57.9,-65.1 -77.1,-107.7c-19.2,-42.3 -35.1,-83.7 -36.9,-126c-1.8,-42.3 10.5,-85.5 30.9,-125.4c20.7,-39.9 49.8,-76.2 87.3,-96.6c37.5,-20.4 83.7,-24.9 128.4,-22.8c45,2.1 88.5,10.5 126.9,30.6z");
    }

    60% {
        clip-path: path("m393.2898,42.2868c33.9,21.9 61.2,53.1 89.7,88.2c28.2,35.1 57.9,74.1 64.5,117.3c6.9,42.9 -9.3,90 -38.1,124.5c-29.1,34.2 -70.5,56.1 -111.3,70.8c-40.5,14.4 -80.4,21.9 -124.2,29.4c-44.1,7.5 -92.1,14.7 -132.3,-0.3c-39.9,-15 -71.4,-52.5 -96,-94.2c-24.3,-42 -41.7,-87.9 -45,-135.9c-3.3,-48 7.2,-98.1 32.7,-138.3c25.2,-40.5 65.4,-71.1 108.6,-87.6c43.2,-16.5 89.7,-18.9 133.2,-13.8c43.5,5.1 84,18 118.2,39.9z");
    }

    70% {
        clip-path: path("m374.0367,30.88893c38.7,23.1 70.5,56.4 88.2,95.4c17.4,38.7 20.7,83.1 22.5,128.7c2.1,45.6 3,92.1 -12.9,134.1c-15.9,41.7 -48.3,78.9 -88.8,101.7c-40.2,22.5 -88.8,30.3 -135.6,27.9c-46.8,-2.7 -92.4,-15.6 -124.8,-42.9c-32.7,-27 -52.2,-68.4 -73.2,-107.7c-20.7,-39.3 -43.2,-76.8 -48.3,-117.3c-5.1,-40.5 7.2,-83.7 32.1,-116.4c24.6,-33 61.8,-54.9 99.6,-78.6c37.5,-23.4 75.3,-48 116.7,-54.3c41.4,-6 86.1,6.6 124.5,29.4z");
    }

    80% {
        clip-path: path("m363.34053,19.67295c38.1,18.3 69.9,51 87.3,89.4c17.4,38.4 20.1,82.5 17.7,125.4c-2.1,42.6 -9.6,84 -27.9,120.3c-18.6,36.6 -48.3,67.8 -84,87.9c-36,20.4 -78,29.1 -123.6,35.4c-45.6,6.3 -94.8,9.9 -133.8,-8.4c-38.7,-18.6 -67.2,-58.8 -81.3,-101.7c-14.1,-42.6 -14.1,-87.3 -15.9,-133.5c-2.1,-45.9 -6,-93 12.6,-127.5c18.9,-34.8 60.6,-57 101.1,-73.8c40.8,-16.8 81,-28.2 123,-31.8c42.3,-3.9 86.7,0 124.8,18.3z");
    }

    90% {
        clip-path: path("m354.69885,31.22577c34.5,20.1 63.3,49.5 81.9,84c18.3,34.8 26.4,74.4 26.7,114c0.3,39.9 -7.5,79.8 -25.2,115.5c-18,35.7 -45.9,66.9 -80.7,96c-34.5,28.8 -75.6,55.8 -116.4,55.5c-41.1,-0.3 -81.9,-27.9 -122.4,-53.4c-40.5,-25.5 -80.7,-49.5 -100.5,-84.6c-19.8,-35.4 -18.9,-82.2 -17.4,-128.1c1.5,-45.9 3.9,-90.9 24,-125.7c19.8,-35.1 57.3,-60 96.3,-77.4c39,-17.7 79.2,-27.6 119.4,-27c40.2,0.3 80.1,11.1 114.3,31.2z");
    }

    100% {
        clip-path: path("m382.27746,34.37325c32.7,27 51.3,69.9 74.4,110.4c23.1,40.2 50.7,78 52.2,116.7c1.5,38.7 -23.1,78 -45.9,118.8c-22.8,40.8 -44.1,82.8 -78.3,105c-34.2,22.2 -81.3,24.6 -125.7,20.1c-44.4,-4.8 -86.1,-16.2 -119.1,-39c-33,-23.1 -57.3,-57.3 -81.3,-93.6c-24.3,-36 -48.3,-74.1 -55.8,-116.7c-7.8,-42.3 0.9,-89.4 25.2,-125.7c24,-36.3 63.3,-61.8 103.8,-84.3c40.8,-22.2 82.5,-41.1 126.9,-45.3c44.1,-3.9 90.9,6.9 123.6,33.6z");
    }
}

/* ------------------------------------------- */
/* REPSONSIVE */

@media screen and (max-width: 576px) {
    #hero .image {
        width: 36.7rem;
        height: 36rem;
        animation: path2 20s cubic-bezier(1, .9, .9, 1) infinite alternate;
    }

    @keyframes path2 {
        0% {
            clip-path: path("m254.85164,22.9155c21.8,18 34.2,46.6 49.6,73.6c15.4,26.8 33.8,52 34.8,77.8c1,25.8 -15.4,52 -30.6,79.2c-15.2,27.2 -29.4,55.2 -52.2,70c-22.8,14.8 -54.2,16.4 -83.8,13.4c-29.6,-3.2 -57.4,-10.8 -79.4,-26c-22,-15.4 -38.2,-38.2 -54.2,-62.4c-16.2,-24 -32.2,-49.4 -37.2,-77.8c-5.2,-28.2 0.6,-59.6 16.8,-83.8c16,-24.2 42.2,-41.2 69.2,-56.2c27.2,-14.8 55,-27.4 84.6,-30.2c29.4,-2.6 60.6,4.6 82.4,22.4z");
        }

        10% {
            clip-path: path("m265.50422,33.602c22.6,19 39.4,42.2 51.2,66.8c11.6,24.8 18.2,51 21.6,79.2c3.4,28.2 3.8,58.2 -7.6,83.8c-11.2,25.4 -34,46.2 -60,57.4c-26.2,11.2 -55.6,12.8 -83.6,10.4c-28,-2.6 -54.4,-9.2 -82.4,-19.4c-28,-10 -57.4,-23.6 -77.2,-46.6c-19.6,-23 -29.4,-55.2 -27.2,-86.4c2.2,-31 16.4,-60.8 35.2,-85.2c18.8,-24.6 42,-43.8 67.8,-61c25.8,-17.2 54,-32.4 82.4,-32.6c28.6,-0.2 57,14.6 79.8,33.6z");
        }

        20% {
            clip-path: path("m250.1307,24.08968c22.8,12.8 43.2,30.2 56.4,52.2c13,22 18.8,48.4 18.2,74.6c-0.4,26 -7.2,52 -19,76c-11.8,24 -29,46.2 -51.4,65.8c-22.4,19.6 -50,36.8 -78.6,38.4c-28.6,1.4 -58,-13 -80.4,-32.6c-22.6,-19.6 -38.2,-44.6 -55.2,-70c-17.2,-25.4 -35.8,-51.4 -39.4,-79.6c-3.8,-28 7.6,-58.2 25.4,-82.4c18,-24.2 42.2,-42.4 68.4,-53.4c26,-11 54,-14.8 80.6,-12.4c26.8,2.2 52.2,10.4 75,23.4z");
        }

        30% {
            clip-path: path("m247.16878,18.79928c24.6,16.6 41.4,44.6 53,73c11.6,28.2 18.2,56.8 21.8,87.6c3.8,30.6 4.8,63.6 -8.6,88.6c-13.6,25.2 -41.4,42.8 -69.8,52.8c-28.4,10 -57.6,12.6 -88.6,16.2c-31.2,3.4 -64.2,8 -91.2,-3c-27,-11 -47.6,-37.2 -57,-66c-9.2,-28.6 -7,-59.8 -5,-89.6c2.2,-29.8 4.2,-58.4 16.4,-82.4c12,-23.8 34,-43 58.8,-59.6c24.8,-16.6 52.4,-30.4 82.6,-34.8c30.2,-4.6 62.8,0.6 87.6,17.2z");
        }

        40% {
            clip-path: path("m269.4019,16.34436c23.8,15 39.6,42.6 52.4,70.2c12.8,27.4 22.6,55 22.6,82.4c-0.2,27.2 -10.4,54.6 -26.4,76.6c-16,22 -37.8,38.8 -61.6,55.6c-23.6,16.8 -49,33.6 -78.2,40.4c-29.4,6.6 -62.6,3.2 -87.4,-13c-24.8,-16 -41.2,-44.8 -57.6,-73.6c-16.4,-28.8 -32.8,-57.4 -33.2,-86.2c-0.2,-28.8 15.4,-57.8 33.4,-84c18,-26 38.2,-49 63.4,-63.2c25,-14.4 55.2,-19.8 86,-21.2c31,-1.4 62.8,1 86.6,16z");
        }

        50% {
            clip-path: path("m249.11596,20.71258c25.4,13.2 47,34.4 59.6,59.6c12.6,25.2 16.2,54.6 14.2,82.8c-2,28.4 -9.2,55.4 -21.2,81.8c-12,26.2 -28.8,51.4 -52.4,66c-23.4,14.4 -53.8,18.2 -85.2,20.2c-31.4,2 -64.2,2.4 -88,-11.8c-23.8,-14.4 -38.6,-43.4 -51.4,-71.8c-12.8,-28.2 -23.4,-55.8 -24.6,-84c-1.2,-28.2 7,-57 20.6,-83.6c13.8,-26.6 33.2,-50.8 58.2,-64.4c25,-13.6 55.8,-16.6 85.6,-15.2c30,1.4 59,7 84.6,20.4z");
        }

        60% {
            clip-path: path("m262.1932,28.1912c22.6,14.6 40.8,35.4 59.8,58.8c18.8,23.4 38.6,49.4 43,78.2c4.6,28.6 -6.2,60 -25.4,83c-19.4,22.8 -47,37.4 -74.2,47.2c-27,9.6 -53.6,14.6 -82.8,19.6c-29.4,5 -61.4,9.8 -88.2,-0.2c-26.6,-10 -47.6,-35 -64,-62.8c-16.2,-28 -27.8,-58.6 -30,-90.6c-2.2,-32 4.8,-65.4 21.8,-92.2c16.8,-27 43.6,-47.4 72.4,-58.4c28.8,-11 59.8,-12.6 88.8,-9.2c29,3.4 56,12 78.8,26.6z");
        }

        70% {
            clip-path: path("m249.3578,20.59262c25.8,15.4 47,37.6 58.8,63.6c11.6,25.8 13.8,55.4 15,85.8c1.4,30.4 2,61.4 -8.6,89.4c-10.6,27.8 -32.2,52.6 -59.2,67.8c-26.8,15 -59.2,20.2 -90.4,18.6c-31.2,-1.8 -61.6,-10.4 -83.2,-28.6c-21.8,-18 -34.8,-45.6 -48.8,-71.8c-13.8,-26.2 -28.8,-51.2 -32.2,-78.2c-3.4,-27 4.8,-55.8 21.4,-77.6c16.4,-22 41.2,-36.6 66.4,-52.4c25,-15.6 50.2,-32 77.8,-36.2c27.6,-4 57.4,4.4 83,19.6z");
        }

        80% {
            clip-path: path("m242.22702,13.1153c25.4,12.2 46.6,34 58.2,59.6c11.6,25.6 13.4,55 11.8,83.6c-1.4,28.4 -6.4,56 -18.6,80.2c-12.4,24.4 -32.2,45.2 -56,58.6c-24,13.6 -52,19.4 -82.4,23.6c-30.4,4.2 -63.2,6.6 -89.2,-5.6c-25.8,-12.4 -44.8,-39.2 -54.2,-67.8c-9.4,-28.4 -9.4,-58.2 -10.6,-89c-1.4,-30.6 -4,-62 8.4,-85c12.6,-23.2 40.4,-38 67.4,-49.2c27.2,-11.2 54,-18.8 82,-21.2c28.2,-2.6 57.8,0 83.2,12.2z");
        }

        90% {
            clip-path: path("m236.4659,20.81718c23,13.4 42.2,33 54.6,56c12.2,23.2 17.6,49.6 17.8,76c0.2,26.6 -5,53.2 -16.8,77c-12,23.8 -30.6,44.6 -53.8,64c-23,19.2 -50.4,37.2 -77.6,37c-27.4,-0.2 -54.6,-18.6 -81.6,-35.6c-27,-17 -53.8,-33 -67,-56.4c-13.2,-23.6 -12.6,-54.8 -11.6,-85.4c1,-30.6 2.6,-60.6 16,-83.8c13.2,-23.4 38.2,-40 64.2,-51.6c26,-11.8 52.8,-18.4 79.6,-18c26.8,0.2 53.4,7.4 76.2,20.8z");
        }

        100% {
            clip-path: path("m254.85164,22.9155c21.8,18 34.2,46.6 49.6,73.6c15.4,26.8 33.8,52 34.8,77.8c1,25.8 -15.4,52 -30.6,79.2c-15.2,27.2 -29.4,55.2 -52.2,70c-22.8,14.8 -54.2,16.4 -83.8,13.4c-29.6,-3.2 -57.4,-10.8 -79.4,-26c-22,-15.4 -38.2,-38.2 -54.2,-62.4c-16.2,-24 -32.2,-49.4 -37.2,-77.8c-5.2,-28.2 0.6,-59.6 16.8,-83.8c16,-24.2 42.2,-41.2 69.2,-56.2c27.2,-14.8 55,-27.4 84.6,-30.2c29.4,-2.6 60.6,4.6 82.4,22.4z");
        }
    }
}

/* * ==================================== */
/* * ABOUT ME*/
/* * ==================================== */

#about {
    padding: 30rem 0;
    background: url("../images/about-background.png") no-repeat top right / cover;
}

#about .container {
    position: relative;
}

#about .box {
    width: min(100%, 115rem);
    margin: 0 auto;
    padding: 7rem clamp(1rem, -3.615rem + 12.82vw, 6rem);
    border-radius: 5rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.10), 0 0 50px 4px rgba(255, 255, 255, 0.20) inset;
    backdrop-filter: blur(37.5px);
    z-index: 1;
    position: relative;
}

/* ----------------------------------- */
/* ABSTRACT */

#about [class^="abstract"] {
    position: absolute;
    pointer-events: none;
}

#about .abstract-circle1 {
    top: -10rem;
    left: 0;

    width: clamp(20rem, 10.769rem + 25.64vw, 30rem);
    height: clamp(20rem, 10.769rem + 25.64vw, 30rem);
    border-radius: 30rem;
    background: linear-gradient(180deg, #0F7 0%, #70F 100%);
    animation: color-change 4s linear infinite;
}

#about .abstract-circle2 {
    bottom: -10rem;
    right: 0;

    width: clamp(30rem, 20.769rem + 25.64vw, 40rem);
    height: clamp(30rem, 20.769rem + 25.64vw, 40rem);
    border-radius: 40rem;
    background: linear-gradient(180deg, #F07 0%, #70F 100%);
    animation: color-change 4s linear infinite;
}

@keyframes color-change {
    50% {
        filter: hue-rotate(-90deg);
    }
}


#about [class^="abstract-square"] {
    width: clamp(10rem, 0.769rem + 25.64vw, 20rem);
    height: clamp(10rem, 0.769rem + 25.64vw, 20rem);
    border-radius: 2rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.10), 0 0 50px 4px rgba(255, 255, 255, 0.20) inset;
    backdrop-filter: blur(37.5px);
    z-index: 1;
    overflow: hidden;
}

#about [class^="abstract-square"]::after {
    content: "";
    width: 300%;
    height: 80%;
    position: absolute;
    top: -120%;
    left: -120%;
    background: linear-gradient(to bottom, transparent 0 30%, #999, transparent 70% 100%);
    transition: .8s;
    rotate: -45deg;
    pointer-events: none;
    animation: shine var(--shine-duration, 5s) linear infinite;
}

@keyframes shine {
    50% {
        top: 120%;
        left: 120%;
    }
}

@keyframes down {
    50% {
        transform: translateY(3rem);
    }
}

@keyframes up {
    50% {
        transform: translateY(-3rem);
    }
}

#about .abstract-square1 {
    top: 0;
    right: 20%;
    translate: 20% -70%;
    animation: down 3s ease-in-out infinite;
    --shine-duration: 4s;
}

#about .abstract-square2 {
    bottom: 0;
    left: 20%;
    translate: -20% 70%;
    animation: up 3s ease-in-out infinite;
    animation-delay: 1s;
    --shine-duration: 5s;
}

/* ----------------------------------- */
/* TEXT */

#about .box h2 {
    text-align: center;
}

#about .box p {
    background: linear-gradient(95deg, #0FF 2.14%, #0F7 97.96%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

#about .box p span {
    background: linear-gradient(#df0, #df0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

/* * =========================================== */
/* * VIDEO */
/* * =========================================== */

#video {
    padding: 15rem 0;
    background: url("../images/video-background.png") no-repeat bottom right / contain;
}


#video .title {
    text-align: center;
    width: min(100%, 65rem);
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------------------- */
/* VIDEO CONTENT */

#video .video-container {
    position: relative;
}

#video .video-container video {
    width: min(100%, 120rem);
    aspect-ratio: 16/9;
    border-radius: 2rem;
    position: relative;
}

#video .video-container #play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    transition: .3s;
}

#video .video-container #play-button:hover {
    filter: hue-rotate(230deg);
    transform: scale(.9)
}

/* * ===================================== */
/* * PROJECTS */
/* * ===================================== */

#projects {
    padding: 15rem 0;
    background: url("../images/project-background.png") no-repeat bottom left / contain;
}

#projects .title {
    text-align: center;
    width: min(100%, 65rem);
    margin-left: auto;
    margin-right: auto;
}

/* ---------------------------------- */
/* BOX */

#projects .content {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
    align-items: center;
}

#projects .box {
    position: relative;
    height: 63.8rem;
    width: 50rem;
}

@media screen and (max-width: 576px) {
    #projects .content {
        gap: 0rem;
    }

    #projects .box {
        transform: scale(.8);
        translate: -10%;
    }

    #projects .box+.box {
        margin-top: -8rem;
    }
}

@media screen and (max-width: 450px) {
    #projects .box {
        transform: scale(.7);
        translate: -18%;
    }

    #projects .box+.box {
        margin-top: -16rem;
    }
}

@media screen and (max-width: 375px) {
    #projects .box {
        transform: scale(.6);
        translate: -22%;
    }

    #projects .box+.box {
        margin-top: -22rem;
    }
}

/* ------------------- TOP BOX --------------------- */

#projects .box .box-top {
    position: absolute;
    top: 0;
    left: 0;

    width: 50rem;
    height: 35rem;
    background: #371;
    clip-path: path("M -0 19.998 C -0 8.952 8.954 -0.002 20 -0.002 L 480 -0.002 C 491.0457 -0.002 500 8.952 500 19.998 L 500 256.3665 C 500 267.4122 491.0457 276.3665 480 276.3665 L 274.99 276.3665 C 263.944 276.3665 254.99 285.3208 254.99 296.3665 L 254.99 329.9976 C 254.99 341.0433 246.036 349.9976 234.99 349.9976 L 20 349.9976 C 8.954 349.9976 0 341.0433 0 329.9976 L -0 19.998 Z");
}

/* ------------------- BOTTOM BOX --------------------*/

#projects .box .box-bottom {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 50rem;
    height: 35rem;
    padding: 0 2.5rem;
    clip-path: path("M 500.1 330.102 C 500.1 341.148 491.146 350.102 480.1 350.102 L 20.1 350.102 C 9.0543 350.102 0.1 341.148 0.1 330.102 L 0.1 93.7335 C 0.1 82.6878 9.0543 73.7335 20.1 73.7335 L 248.108 73.7335 C 259.154 73.7335 268.108 64.7792 268.108 53.7335 V 20.1024 C 268.108 9.0567 277.063 0.1024 288.108 0.1024 L 480.1 0.1024 C 491.146 0.1024 500.1 9.0567 500.1 20.1024 L 500.1 330.102 Z");
}

#projects .box .box-bottom h3 {
    width: 23rem;
    padding: 1.6rem 0;
    margin-left: auto;
    transform: translateX(2.5rem);
}

#projects .box .box-bottom .list {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#projects .box .box-bottom .list span {
    margin-left: .8rem;
}

#projects .box .box-bottom .cta {
    display: flex;
    align-items: center;
    gap: 3rem;
}


/* ------------------ BACKGROUND ------------------- */

#projects .box .box-bottom .box-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
}


/* * ========================================= */
/* * HIRE NOW */
/* * ========================================= */

#hire {
    padding: 20rem 0;
    background: url("../images/hire-now-background.png") no-repeat top left / cover;
}

#hire h2 {
    width: min(100%, 60rem);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#hire .btn-hire-container {
    margin-left: auto;
    margin-right: auto;
}

/* * ===================================== */
/* * CONTACT */
/* * ===================================== */

#contact {
    padding: 15rem 0;
    background: url("../images/contact-background.png") no-repeat left / cover;
}


#contact .container {
    max-width: min(800px, 100%);
    position: relative;
}

#contact .title {
    text-align: center;
    width: min(100%, 65rem);
    margin-left: auto;
    margin-right: auto;
}

#contact .box {
    width: min(100%, 60rem);
    min-height: 40rem;
    margin: 0 auto;
    padding: 8rem clamp(1rem, -3.615rem + 12.82vw, 6rem) 1rem;
    border-radius: 5rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.10), 0 0 50px 4px rgba(255, 255, 255, 0.20) inset;
    backdrop-filter: blur(37.5px);
    z-index: 1;
    position: relative;
}

/* --------------------------------------------- */
/* INPUT FIELDS */

#contact .name,
#contact .email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    border: 3px solid var(--input-border-color, #fff);
    border-radius: 1.5rem;
}

#contact .name input,
#contact .email input {
    flex-grow: 1;
    height: 100%;
    background: transparent;
    outline: 0;
    border: 0;
    padding: 0 1.5rem;
    color: var(--input-color, #fff);
    font: 400 1.8rem/170% var(--base-font-family, "Krona One", sans-serif);

}


#contact .name .icon,
#contact .email .icon {
    margin-right: 1.5rem;
    fill: var(--input-icon-color, #fff);
}

#contact input::placeholder,
#contact textarea::placeholder {
    color: var(--input-placeholder-color, rgba(255, 255, 255, 0.75));
    font: 400 1.6rem/170% var(--base-font-family, "Krona One", sans-serif);
    letter-spacing: 0.1rem;
}

/* ! RESPONSIVE */
@media screen and (max-width: 600px) {
    .btn-send-container {
        transform: scale(.8);
        translate: -10%;
    }

    #contact .abstract-square2 {
        bottom: -5% !important;
    }
}

@media screen and (max-width: 475px) {

    #contact .name input,
    #contact .email input {
        font: 400 1.4rem/170% var(--base-font-family, "Krona One", sans-serif);
    }

    #contact input::placeholder,
    #contact textarea::placeholder {
        font: 400 1.4rem/170% var(--base-font-family, "Krona One", sans-serif);
    }



    .btn-send-container {
        transform: scale(.7);
        translate: -15%;
    }

    #contact .name input,
    #contact .email input {
        flex-grow: 0;
        width: 80%;
    }

    #contact .icon {
        width: 2.5rem;
    }

}

@media screen and (max-width: 400px) {
    .btn-send-container {
        transform: scale(.6);
        translate: -20%;
    }
}


/* ON FOCUS */

#contact .name input:focus,
#contact .email input:focus {
    color: var(--input-color-on-focus, #0F7);
}

#contact .name:has(input:focus),
#contact .email:has(input:focus) {
    border-color: var(--input-border-color-on-focus, #0f7);
}

#contact .name input:focus+svg,
#contact .email input:focus+svg {
    fill: var(--input-color-on-focus, #0F7);
}

/* ON INVALID */

#contact .name input:invalid:not(:placeholder-shown),
#contact .email input:invalid:not(:placeholder-shown) {
    color: var(--input-color-on-invalid, #f07);
}

#contact .name:has(input:invalid:not(:placeholder-shown)),
#contact .email:has(input:invalid:not(:placeholder-shown)) {
    border-color: var(--input-border-color-on-invalid, #f07);
}

#contact .name input:invalid:not(:placeholder-shown)+svg,
#contact .email input:invalid:not(:placeholder-shown)+svg {
    fill: var(--input-color-on-invalid, #f07);
}


/* MESSAGE -----------------------------------------*/
#contact .message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    border: 3px solid var(--input-border-color, #fff);
    border-radius: 1.5rem;
}

#contact .message textarea {
    padding: 1.5rem;
    flex-grow: 1;
    height: 100%;
    background: transparent;
    outline: 0;
    border: 0;
    color: var(--input-color);
    font: 400 1.8rem/170% var(--base-font-family, "Krona One", sans-serif)
}

#contact .message .icon {
    align-self: flex-start;
    margin-top: 1.5rem;
    margin-right: 1.5rem;
    fill: var(--input-icon-color, #fff);
}

/* ON FOCUS */


#contact .message textarea:focus {
    color: var(--input-color-on-focus, #0f7);
}

#contact .message:has(textarea:focus) {
    border-color: var(--input-border-color-on-focus, #0f7);
}

#contact .message textarea:focus+svg {
    fill: var(--input-color-on-focus, #0f7);
}


/* DIRECT EMAIL */
#contact .direct-email {
    text-align: right;
}

#contact .direct-email span {
    color: var(--direct-email-text-color, #00FFBF)
}


/* ----------------------------------- */
/* ABSTRACT */

#contact [class^="abstract"] {
    position: absolute;
    pointer-events: none;
}

#contact .abstract-circle1 {
    top: -10rem;
    left: 0;

    width: clamp(20rem, 10.769rem + 25.64vw, 30rem);
    height: clamp(20rem, 10.769rem + 25.64vw, 30rem);
    border-radius: 30rem;
    background: linear-gradient(180deg, #0F7 0%, #70F 100%);
    animation: color-change 4s linear infinite;
}

#contact .abstract-circle2 {
    bottom: -10rem;
    right: 0;

    width: clamp(30rem, 20.769rem + 25.64vw, 40rem);
    height: clamp(30rem, 20.769rem + 25.64vw, 40rem);
    border-radius: 40rem;
    background: linear-gradient(180deg, #F07 0%, #70F 100%);
    animation: color-change 4s linear infinite;
}

@keyframes color-change {
    50% {
        filter: hue-rotate(-90deg);
    }
}


#contact [class^="abstract-square"] {
    width: clamp(10rem, 0.769rem + 25.64vw, 20rem);
    height: clamp(10rem, 0.769rem + 25.64vw, 20rem);
    border-radius: 2rem;
    border: 3px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.10), 0 0 50px 4px rgba(255, 255, 255, 0.20) inset;
    backdrop-filter: blur(37.5px);
    z-index: 1;
    overflow: hidden;
}

#contact [class^="abstract-square"]::after {
    content: "";
    width: 300%;
    height: 80%;
    position: absolute;
    top: -120%;
    left: -120%;
    background: linear-gradient(to bottom, transparent 0 30%, #999, transparent 70% 100%);
    transition: .8s;
    rotate: -45deg;
    pointer-events: none;
    animation: shine var(--shine-duration, 5s) linear infinite;
}

@keyframes shine {
    50% {
        top: 120%;
        left: 120%;
    }
}

@keyframes down {
    50% {
        transform: translateY(3rem);
    }
}

@keyframes up {
    50% {
        transform: translateY(-3rem);
    }
}

#contact .abstract-square1 {
    top: 0;
    right: 20%;
    translate: 20% -70%;
    animation: down 3s ease-in-out infinite;
    --shine-duration: 4s;
}

#contact .abstract-square2 {
    bottom: 0;
    left: 20%;
    translate: -20% 70%;
    animation: up 3s ease-in-out infinite;
    animation-delay: 1s;
    --shine-duration: 5s;
}



/* * ============================================= */
/* * FOOTER */
/* * ============================================= */

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background: #000;
    padding: 4rem 1rem 1rem;
    flex-wrap: wrap;
    gap: 1rem 3rem;
}

footer p {
    color: rgba(255, 255, 255, 0.80);
    font: 400 1.4rem/170% var(--base-font-family, "Krona One", sans-serif);
    /* 3.06rem */
    letter-spacing: 0.1rem;
}

footer p span {
    color: #00FFBF;
}

footer .left span {
    color: #00FF0F;
}

footer .right {
    text-align: right;
}

@media screen and (max-width: 761px) {
    footer .right {
        text-align: left;
    }
}

@media screen and (max-width: 370px) {
    footer p {
        font: 400 1.2rem/170% var(--base-font-family, "Krona One", sans-serif);
    }
}